<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health Care - Prscription </title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.css.map' %}">
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.min.css.map' %}"> -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.rtl.css.map' %}">
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.rtl.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-grid.rtl.min.css.map' %}"> -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.css.map' %}">
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.min.css.map' %}"> -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.rtl.css.map' %}">
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.rtl.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-reboot.rtl.min.css.map' %}"> -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.css.map' %}">
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.min.css.map' %}"> -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.rtl.css.map' %}">
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.rtl.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap-utilities.rtl.min.css.map' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap.css.map' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css.map' %}"> -->
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.rtl.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.rtl.css.map' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.rtl.min.css.map' %}">

    <script>
        function GetPrint(){
            window.print();
        }
    </script>

</head>

<body>

    <div class="container text-center">

        <div class="row box1" style="margin-top: 10px; ">

            <div class="col " style="margin-top: 10px; margin-bottom: 10px;">
                <div class="end " style="margin-top: 10px; margin-bottom: 10px;"><h1> <b>Health Care Center</b> </h1></div>
                <div class="end " style="margin-top: 10px; margin-bottom: 10px;"><b>address :</b> Dhanmondi, Dhaka</div>
                <div class="end " style="margin-top: 10px; margin-bottom: 10px;"><b>Phone :</b> +880 19123 45678</div>
                <div class="end " style="margin-top: 10px; margin-bottom: 10px;"><b>demo@gmail.com</b></div>
                <div class="end " style="margin-top: 10px; margin-bottom: 10px;"><b>www.healthcarecenter.com</b></div>
            </div>

            <div class="col " style="margin-top: 10px;">
                <img src="{% static 'img/img.png' %}" alt="" style="height: 200px;">
            </div>

        </div>

        <div class="row box1" style="padding-top: 10px; padding-bottom: 10px; ">
            <div class="col  end"><b>Name:</b> {{ name }}</div>
            <div class="col ">
                <div class="row">
                    <div class="col  end"><b>Age: </b>{{ age }} </div>
                    <div class="col  end"><b>Sex: </b>{{ gender }}  </div>
                    <div class="col  end"><b>Date: </b>{{ date }}  </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col box1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><b>#</b></th>
                            <th scope="col"><b>workout</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in workout %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <th scope="row">{{ i }}</th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col box1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Madicen Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in medications %}
                        <tr>
                            <th scope="row">{{ i.id }}</th>
                            <th scope="row">
                                <div class="col">{{ i }}</div>
                                {% comment %} <div class="col">
                                    <input type="checkbox">
                                    <input type="checkbox">
                                    <input type="checkbox">
                                </div> {% endcomment %}
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col" style="margin-top: 10px; ">
            <button type="button" class="btn btn-primary" onclick="GetPrint()">Print</button>
        </div>

    </div>

<!-- Bootstrap JavaScript -->

<script src="{% static 'dist/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.bundle.js.map' %}"></script>
<script src="{% static 'dist/js/bootstrap.esm.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.esm.js.map' %}"></script>
<script src="{% static 'dist/js/bootstrap.esm.min.js' %}"></script>
<script src="{% static 'dist/js/bootstrap.esm.min.js.map' %}"></script>


<!-- <script src="{% static 'dist/js/bootstrap.bundle.min.js' %}"></script> -->
<!-- <script src="{% static 'dist/js/bootstrap.bundle.min.js.map' %}"></script> -->
<!-- <script src="{% static 'dist/js/bootstrap.js' %}"></script> -->
<!-- <script src="{% static 'dist/js/bootstrap.js.map' %}"></script> -->
<!-- <script src="{% static 'dist/js/bootstrap.min.js' %}"></script> -->
<!-- <script src="{% static 'dist/js/bootstrap.min.js.map' %}"></script> -->


</body>

</html>