{% load static %}

    <!-- Header -->
    <header class="main-header">

        <!-- Logo -->
        <a href="{% url 'doctor' %}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>A</b>LT</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Admin</b>LTE</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            {% if user.is_authenticated and user.first_name == '' %}

                            <!-- The user image in the navbar-->
                            <img src="{% static '/dashboard/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{user.username}}</span>

                            {% elif user.is_authenticated %}

                            <!-- The user image in the navbar-->
                            <img src="{% static '/dashboard/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">{{user.username}}</span>

                            {% else %}

                            {% endif %}

                            {% comment %} <!-- The user image in the navbar-->
                            <img src="{% static '/dashboard/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs">Sayef Ahmed</span> {% endcomment %}
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            {% if user.is_authenticated and user.first_name == '' %}

                            <li class="user-header">
                                <img src="{% static '/dashboard/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                                <p>
                                    {{user.username}}
                                    <small>Supper Admin</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>

                            {% elif user.is_authenticated %}

                            <li class="user-header">
                                <img src="{% static '/dashboard/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                                <p>
                                    {{user.username}}&nbsp;{{user.last_name}}
                                    <small>Supper Admin</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="{% url 'logout' %}" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>

                            {% else %}

                            {% comment %} <li class="nav-item">
                            <a class="btn btn-primary ml-lg-3" href="{% url 'login' %}">Login</a>
                            </li> {% endcomment %}

                            {% endif %}
                            {% comment %} <li class="user-header">
                                <img src="{% static '/dashboard/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                                <p>
                                    Sayef Ahmed
                                    <small>Supper Admin</small>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="profile.html" class="btn btn-default btn-flat">Profile</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li> {% endcomment %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>